@media(max-width:650px){
  body{
    width: 100%;
    box-sizing: border-box;
  }
    .mein-product{
        display: flex;
        flex-direction: column;
    }
    .product-logo{
      margin-left: 150px;
    }
    .card-img{
        transform: scale(1.5);
    }
    .card-wrapper{
        margin-left: 100px;
    }
    .feed-wrapper p{
      display: none;
    }
    .feed-wrapper{
    }
    .feed-img{
      float:none;
      margin-left: 50px;
    }
    .feed-wrapper h3{
      float:left;
    }
    .description{
      float: none;
      width: 350px;
      margin-left: 40px;
    }
    .contact-wrapper{
      display: flex;
      flex-direction: column;
      margin: 10px auto 10px 130px;
      text-align: center;
    }
    .reverse ul{
      display: block;
      margin: 0;
      padding: 0;
    }
    .reverse ul li{
      margin-left :50px;
      padding: 20px 0 20px 0; 
      border-bottom: 1px solid white;
    }
    .reverse{
      height: auto;
      width: 100%;
     
    }
    footer{
     width: 100%;
     height: auto;
     display: block;
   }
   .footer-logo{
     margin-left:100px ;
   }
   footer p{
     margin-top:-20px;
     width: 500px;
   }
   .hamburger-menu{
     display: flex;
   }
   .hamburger-menu p{
      display: inline-block;
      background-color:red;
      font-size:2em;
      position: relative;
      top:-20px;
   }
   #Hamburger{
     display: none;
   }
   .menu-btn{
     position: fixed;
     top:0px;
     right: 0px;
     width: 100%;
     height: 50px;
     padding-right: 20px;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     background-color: #fff;
     z-index: 10000;
   }
   .menu-btn span,
   .menu-btn span::before,
   .menu-btn span::after{
      content:"";
     height: 3px;
     width: 24px;
     display: block;
     position: absolute;
     border-radius: 3px;
     background-color: black;
   }
   .menu-btn span::before{
     bottom: 8px;
   }
   .menu-btn span::after{
     top:8px;
   }
   
#Hamburger:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#Hamburger:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#Hamburger:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
.menu-list {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  background-color: #3584bb;
}
.menu-list ul {
  padding: 70px 10px 0;
  
}
.menu-list ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.menu-list ul li a {
  display: block;
  width: 100%;
  font-size: 2em;
  box-sizing: border-box;
  color:black;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
  left:50px;
  top:50px;
}
.menu-list ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}
.menu-list {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;/*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: #fff;
  opacity: 0.7;
  transition: all 0.5s;/*アニメーション設定*/
}

#Hamburger:checked ~ .menu-list {
    left: 0;/*メニューを画面内へ*/
}

.nav{
  display: none;
}
.header-logo{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.header-logo img{
  width: 50vh;
}
.product-wrapper .more-button{
  position:relative;
  right: 310px;
  top:3300px;
}
.news-wrapper .more-button{
  position: relative;
  right:310px;
  top: 2070px;
}
.top-button{
  margin-top: 150px;
}

